<jce-user-form (userAddedEvent)="addUser($event)"></jce-user-form>
<jce-spinner [visible]="isLoading"></jce-spinner>
<div>
  <ul class= "list-group users">
    <li class="list-group-item" 
    *ngFor = "let user of users" 
    [class.active]="currentUser == user" 
    (click)="select(user)">
      <jce-user [user] = "user" (deleteEvent) = "deleteUser($event)" (editEvent) = "updateUser($event)"> </jce-user>
    </li>
  </ul>
</div>


<!--<div>
  <table class= " table table-striped table-bordered btn-group-justified btn-xs"> 
    <tr>
      <th >Name</th>
      <th >Email</th> 
    </tr>
    
    <tr *ngFor = "let user of users" >
      <td > {{user.name}} </td>
      <td> {{user.email}} </td>
    </tr>
  </table>
</div>-->
